<% if task_status?(task.status) %>
<li class="task task_<%= task.id %> <%= 'complete' if !task_status?(task.status)%>" id='<%= "task_#{task.id}" %>'>
  <%= link_to "", toggle_status_task_path(task), remote: true, method: :post, class: "checkmark" %>

  <%= form_for(task, remote: true) do |f| %>
    <div class="create-task-name">
      <%= f.text_field :name %>   
    </div>
  <% end %>
</li>
<% end %>
