<div class="project-item" data-id="<%= project.id unless project.new_record? %>">
  <div class="project-container">
    <%= link_to "", project, method: :delete, remote: true, class: "project-delete"%>
    <%= render 'form', project: project %>
    <%= render('tasks/form', project: project) unless project.new_record? %>
    <ul class="tasks-list" data-update-url="<%= sort_tasks_url %>">
      <%= render project.tasks.where(status: "incomplete").order('position ASC') %>
    </ul>
    <ul class="tasks-list-complete">
      <%= render project.tasks.where(status: "complete").order("updated_at DESC") %>
    </ul>
  </div>
</div>